* {
    padding: 0;
    margin: 0;
}

header {
    height: 109px;
    background-color: #C4C4C4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}


header h1 {
    color: black;
    font-size: 40px;
    font-weight: 400px;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

header nav a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400px;
}

header nav a:hover {
    text-decoration: underline;
    color: aqua;
    font-size: 24px;
    transition: 0.2s;
}

header nav a:active {
    color: blue;
}

/* --------------------------------------main: sobre------------------------------------------ */
.sobre {
    height: 318px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F3F3F3;
}

.sobre div {
    width: 614px;
    height: 186px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre h2 {
    font-size: 24px;
    font-weight: 400px;
    color: black;
}

.sobre p {
    font-size: 16px;
    font-weight: 400px;     
    color: black;
}

.sobre img {
    border-radius: 50%;
    width: 247px;
    height: 247px;  
}

/* --------------------------------------main: rank------------------------------------------ */
.rank {
    height: 289px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hobbie {
    width: 596px;
    height: 249px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.top5 {
    width: 596px;
    height: 249px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hobbie h2{
    font-size: 24px;
    font-weight: 400px;
    color: black;
}

.top5 h2{
    font-size: 24px;
    font-weight: 400px;
    color: black;
}

.hobbie ul{
    display: flex;
    flex-direction: row-reverse;
    gap: 17px;
}

.top5 ol{
    display: flex;
    flex-direction: row;
    gap: 17px; 
}

/* inserir os bannerzinho mt louco e imagens */

.rank li{
    width: 102px;
    height: 150px;
    background-color: #DFDFDF;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400px;
    color: black;
}

/* --------------------------------------section form------------------------------------------ */

section{
    width: 1168px;
    height: 236px;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    gap: 20px;
}

section h2 {
    font-size: 24px;
    font-weight: 400px;
    color: black;
}

section form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
    gap: 10px;
}

section form input {
    width: 1128px;
    height: 56px;
    background-color: #F3F3F3;
    border: none;
    border-radius: 4px;
    padding-left: 10px;
}

section form input::placeholder {
    color: black;
    font-size: 16px;
}

section form button {
    width: 127px;
    height: 37px;
    border-radius: 4px;
    border: none;
    background-color: #F3F3F3;
    margin-right: 30px;
}

section form button:hover {
    background-color: blue;
    color: black;
    font-weight: 600px;
    transition: 0.2s;
}

