* {
    padding: 0;
    margin: 0;
}

header {
    height: 109px;
    background-color: #6d86e2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}


header h1 {
    color: #141619; 
    font-size: 40px;
    font-weight: 400px;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

header a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400px;
}

header a:hover {
    text-decoration: underline;
    color: aqua;
    font-size: 24px;
    transition: 0.2s;
}

header a:active {
    color: red;
}

#menu-toggle {
    display: none;
}

#x {
    display: none;
}

.hamburger {
    display: none;
}

.menu{
    display: none;
} 

.x {
    display: none;
    width: 31px;
    height: 31px;
    font-size: 30px;
}

/* --------------------------------------main: sobre------------------------------------------ */
.sobre {
    height: 318px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #84a3f0;
}

.sobre div {
    width: 614px;
    height: 186px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre h2 {
    font-size: 24px;
    font-weight: 400px;
    color: black;
}

.sobre p {
    font-size: 16px;
    font-weight: 400px;     
    color: black;
}

.sobre img {
    border-radius: 50%;
    width: 247px;
    height: 247px;  
}

/* --------------------------------------main: rank------------------------------------------ */
.rank {
    height: 289px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #84a3f0;
}

.hobbie {
    width: 596px;
    height: 249px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.top5 {
    width: 596px;
    height: 249px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hobbie h2{
    font-size: 24px;
    font-weight: 400px;
    color: black;
}

.top5 h2{
    font-size: 24px;
    font-weight: 400px;
    color: black;
}

.hobbie ul{
    width: 555px;
    height: 150px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.hobbiemobile{
    display: none;
}

.top5 ol{
    width: 555px;
    height: 150px;
    display: flex;
    flex-direction: row;
    gap: 10px; 
}

.hobbie ul li{
    width: 103px;
    height: 150px;
    background-color: #DFDFDF;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400px;
    color: black;
}

.top5 ol li{
    width: 103px;
    height: 150px;
    background-color: #DFDFDF;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400px;
    color: black;
}

.top5 ol div li{
    padding-bottom: 0px;
}

.top5 div{
    width: 103px;
    height: 150px;
    background-color: #DFDFDF;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400px;
    color: black;
}

.top5 ol div span{
    width: 19px;
    height: 44px;
    font-size: 16px;
    font-weight: 400px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* --------------------------------------section form------------------------------------------ */

section{
    height: 236px;
    display: flex;
    flex-direction: column;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 30px;
    gap: 20px;
    background-color: #84a3f0;
}

section h2 {
    font-size: 24px;
    font-weight: 400px;
    color: black;
}

section form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
    gap: 10px;
}

section form input {
    width: 1128px;
    height: 56px;
    background-color: #DFDFDF;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

section form input::placeholder {
    color: black;
    font-size: 16px;
}

section form button {
    width: 127px;
    height: 37px;
    border-radius: 5px;
    border: none;
    background-color: #DFDFDF;
    margin-right: 30px;
}

section form button:hover {
    background-color: aqua;
    color: black;
    font-weight: 600px;
    transition: 0.2s;
}

/* ---------------------------footer------------------- */

footer{
    height: 70px;
    background-color: #DFDFDF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

footer nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

footer nav img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

footer div button{
    width: 162px;
    height: 38px;
    background-color: #84a3f0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400px;
}

footer div button:hover{
    width: 170px;
    height: 46px;
    background-color: aqua;
    transition: 0.5s;
}

/* --------------------------RESPONSIVIDADE------------- */

@media screen and (max-width: 431px) {

    header{
        padding-right: 20px;
        padding-left: 20px;
    }

    .hamburger {
        width: 40px;
        height: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hamburger span{
        display: block;
        height: 4px;
        background-color: black;
    }

    #menu-toggle:checked ~ .hamburger{
        display: none;
    }

    #menu-toggle:checked ~ .x{
        display: block;
    }

    .menu {
        width: 155px;
        height: 147px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: #6d86e2;
        position: absolute;
        right: 0rem;
        top: 108px;
        list-style: none;
    }

    #menu-toggle:checked ~ .menu {
        display: flex;
    }

    header nav{
        display: none;
    }

    /* -------------------------------- */

    .sobre {
        flex-direction: column;
        height: 584px;
    }

    .sobre div {
        width: 403px;
        height: 242px;  
        align-items: baseline;
    }

    /* -------------------------------- */

    .rank {
        height: 890px;
        flex-direction: column;
    }

    .hobbie {
        display: none;
    }

    .hobbiemobile{
        width: 424px;
        height: 425px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .hobbiemobile div{
        width: 384px;
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
    }

    .hobbiemobile span{
        width: 384px;
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 20px;
    }

    .hobbiemobile li{
        width: 103px;
        height: 150px;
        background-color: #DFDFDF;
        border: none;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: 400px;
        color: black;
}

    .top5 {
        width: 424px;
        height: 425px;
        align-items: baseline;
    }

    /* -------------------------------- */

    section {
        height: 236px;
        padding-left: 20px;
        padding-right: 20px;
    }

    section form {
        align-items: center;
    }

    section form input {
        width: 373px;
    }

    section form button {
        width: 79px;
    }


}